<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613676917094-4635icrd254lu9jgcggls5ic8hr5uo59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613676917094-4635icrd254lu9jgcggls5ic8hr5uo59</string>
	<key>API_KEY</key>
	<string>AIzaSyC838B4Mx7ARFLtr1PAFLzKPEt51Ixt62U</string>
	<key>GCM_SENDER_ID</key>
	<string>613676917094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>linerlin.Warning</string>
	<key>PROJECT_ID</key>
	<string>warning-893ee</string>
	<key>STORAGE_BUCKET</key>
	<string>warning-893ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613676917094:ios:c5e20113cdbc5c4aefe8a7</string>
</dict>
</plist>